.content
  %h1= @main_article ? @main_article.title : "...¡Y Botó el Chupo!"
  -# .fb-like.like-bar{"data-href" => "http://botoelchupo.com", "data-action" => "like", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "450"}
  -# .g-plusone.like-bar{"data-href" => "http://botoelchupo.com", "data-annotation" => "inline", "data-size" => "tall", "data-width" => "450"}

  - if @main_article
    = raw @main_article.content
  - else
    %p
      Esta es una página acerca de
      %strong botar el chupo.
      Actualmente no tiene contenido, pero ¡gracias por visitar!

  - unless @videos.blank?
    %h3= @video_article ? @video_article.title : "Video"
    - if @video_article
      = raw @video_article.content
    - else
      %p Videos de personas botando el chupo:

    .center
      - @videos.each do |video|
        %h4.title-link
          %a{href: "http://www.youtube.com/watch?v=#{video.youtube_id}"}
            = video.title
        %iframe{:allowfullscreen => true, :frameborder => "0", :width => "480", :height => "360", :src => "//www.youtube.com/embed/#{video.youtube_id}"}

  - unless @tweets.blank?
    %h3= @twitter_article ? @twitter_article.title : "Twitter"
    - if @twitter_article
      = raw @twitter_article.content
    - else
      %p Tweets de personas acerca de botar el chupo:

    .tweets
      - @tweets.each do |tweet|
        .comment
          - unless tweet[:avatar].blank?
            = image_tag(tweet[:avatar], size: "48x48", alt: tweet[:username])
          .comment__text
            %h5.page-user
              %a{href: "https://twitter.com/#{tweet[:username]}"}
                = "#{tweet[:name]} - @#{tweet[:username]} - "
                %span.js-twitter-date
                  = tweet[:pubdate]
            .font_small
              %p= raw auto_link(tweet[:text].gsub(/\n/, '<br />'))

  %h3= @comments_article ? @comments_article.title : "¡Bota el Chupo tú También!"
  - if @comments_article
    = raw @comments_article.content
  - else
    %p ¡Deja tu comentario!
  .comments-section
    = form_for :comment, url: "#", html:{id: "js-comment-form", class: "form"} do |f|
      #js-comment-errors
      .form-group
        = f.label :user, "Nombre"
        = f.text_field :user, placeholder: "¿Cómo se llama tu nombre?", 'data-parsley-required' => 'true', value: "Alberto"
      .form-group
        = f.label :email, "Email"
        = f.text_field :email, placeholder: "Opcional. Por si quieres mostrar tu Gravatar.", 'data-parsley-type' => 'email', 'data-parsley-trigger' => 'change'
      .form-group
        = f.label :website
        = f.text_field :website, placeholder: "Opcional. Por si tienes página.", 'data-parsley-type' => 'url', 'data-parsley-trigger' => 'change'
      .form-group
        = f.label :content, class: "hidden"
        = f.text_area :content, placeholder: "Escribe aquí tu comentario.", 'data-parsley-required' => 'true', value: "Este es mi comentario"
      .form-group.center
        = f.submit "Guardar Comentario"
    #js-comments.comments

  - if @extra_article
    %h3= @extra_article.title
    = raw @extra_article.content


